/*
Theme Name: Manji
Theme URI: http://www.brokenkode.com/manji/
Description: Nebula flavoured Manji
Version: 1.01
Author: Khaled Abou Alfa
Ported to Drupal by: Chrisada Sookdhis
Drupal Port URI: http://ichris.ws/drupal/themes/manji


Credits -
The Manji template designed by Khaled Abou Alfa (www.brokenkode.com) 
and Root (www.atthe404.com/blog); Root is currently offline. Please go read the
FAQ on www.brokenkode.com/board for further information.

Joshua (aka Alphaoide) has been helping complete this project in the wake of 
Root's disappearance.

Also a big shout out to Franchesco Anselmo & David Prince for their invaluable 
support.

Also I've got to thank the wordpress forums for all the little help in solving 
loads of questions we had when creating this theme.


License -
The CSS, XHTML and design is released under GPL:
http://www.opensource.org/licenses/gpl-license.php

Theme for blogging software. Initially released for Wordpress.
Copyright (C) 2004 khaled abou alfa.

This program is free software; you can redistribute it and/or modify it under 
the terms of the GNU General Public License as published by the Free Software 
Foundation, version 2 of the License.

This program is distributed in the hope that it will be useful, but WITHOUT ANY 
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A 
PARTICULAR PURPOSE. See the GNU General Public License for more details.
*/


/* <<<<<<<<<<<<<<<<<<<<<<<<<< Structural Layout >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
body {
 background: #f3f3f3;
 margin:  0;
 padding: 0;
 text-align: center; /* IE hack Part 1 */ 
}



/*---------------------------- Site Navigation -------------------------------*/
#hnav {
 width: 680px;
 margin: 8px auto;
 height: 23px;
 background: #d9d7da url(images/navgradient.jpg) repeat-x top;
 border-bottom: 1px solid #ccced2;
 border-left: 1px solid #f5f6f7;
 border-right: 1px solid #ccced2;
}


#header {
 float: left;
 margin: 0px;
 padding: 0px;
 text-align: left;
 height: 20px;
}


#hmenu {
 margin: 2px 5px 0 0;
 text-transform:lowercase;
 float: right;
}


#masthead {
 background: url(images/masthead.jpg);
 width: 680px;
 height: 135px;
 margin: 0 auto;
 padding: 0;
 border-top: 1px solid #b8e4e7;
 border-right: 1px solid #86c9cf;
 border-bottom: 2px solid #00527f;
 border-left: 1px solid #86c9cf;
}


/*------------------------------- Main Body ----------------------------------*/
#container {
 position: relative;
 margin: 10px auto;
 width: 680px;
 background: #f5f6f7;
 border-left: 1px solid #d5d7db;
 border-right: 1px solid #d5d7db;
 font-family: Arial, Verdana, Helvetica, sans-serif;
 font-size: .75em;
 text-align: left; /* IE hack Part 2 */
 border-top: 15px solid #d5d7db;
 border-bottom: 15px solid #d5d7db;
}


#topcontent {
 width: 660px;
 background: #f5f6f7 url(images/header_whole.gif) no-repeat top;
 margin: 9px auto 0px auto;
 height: 27px;
}


#content {
 width: 520px;
 padding: 5px 70px;
 background: #ffffff;
 margin: 0 auto;
}


.post {
 margin-bottom: 80px;
}


#bottomcontent {
 width: 660px;
 background: #f5f6f7 url(images/bottom_whole.gif) no-repeat top;
 margin: 0px auto 0px auto;
 padding-bottom: 9px;
 height: 27px;
}


.meta {
 font-size: .9em;
 line-height: 18px;
}


.feedback {
 float: right;
 text-align: right;
}


.author {
 width: 200px;
 float: right;
 text-align: right;
}


/*---------------------------- Page Navigation -------------------------------*/
.postnavigation {
 height: 45px;
}


.left {
 float: left;
}


.right {
 float: right;
 padding-right: 70px; 
}


/* ------------------------------ Comments -----------------------------------*/

#commentlist li  p{
 padding: 0px;
 margin: 8px 0px 0px 0px;
}


.commentname {
 width: 220px;
 float: left;
 font-size: 0.9em;
 margin: 0;
 padding: 0  0 2px 0;
}


.commentinfo{
 float: right;
 text-align: right;
 padding: 0;
 font-size: 0.8em;
}


.commenttext {
 clear: both;
 padding-top: 0px;
 margin-top: 0px;
 border-top: 1px solid #e4ebef;
}

/* --------------------------- 'Sidebar' Structure -------------------------- */
#menu {
 margin: 10px auto;
 width: 680px;
 height: 45px;
 background: #F0F0F0 url(images/bottomgradient.jpg) repeat-x top;
 border-top: 1px solid #d1d4d9;
 border-right: 1px solid #d5d7db;
 border-bottom: 2px solid #d5d7db;
 border-left: 1px solid #d1d4d9;
}


#searchform {
 float: left;
 margin-top: 12px;
 padding-left: 20px;
}


#topimage {
 margin: 2px 0 0 0; 
 cursor: pointer;
 width: 60px;
 height: 40px;
 background: url(images/topbutton.gif) no-repeat top;
 float: right;
 padding-right: 9px;
 padding-top: 3px;
}


#topimage a{
 display:block;
 height:100%;
 overflow:hidden;
 text-decoration:none;
}


/* ------------------------------- Credits ---------------------------------- */
#footer {
 margin: 10px auto;
 width: 680px;
 font-size: .8em;
}


#footer p {
margin-top: 0;
}


.clearer {
 clear: both;
 line-height: 0px;
}


/*------------------------------ H Menu Styling ----------------------------- */
#top { 
 display: inline;
 list-style-type: none;
}


#hnav ul li{
 display: inline;
}


#hnav ul li a {
 color: #919191;
 text-decoration: none;
 padding: 5px 0px 5px 30px;
 font-size: 0.7em;
 font-family: Arial, Verdana, Helvetica, sans-serif;
 font-weight: normal;
}


#hnav ul li a:hover {
 color: #bfbfbf;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<< Typography >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* ------------------------------- General ---------------------------------- */
a {
 color: #005D93;
 text-decoration: none;
}


a:hover {
 color: #990000;
 text-decoration: underline;
}


top a {
 border: 0;
 text-decoration: none;
}


blockquote {
 background: #f5f6f7;
 padding: 10px 20px;
}


code {
 font-family: Arial, Verdana, Helvetica, sans-serif;
 font-size: 1.0em;
}


h1 a {
 margin: 0;
 padding: 0;
 text-decoration: none;
 color: #6f6f6f;
}


h2 {
 color: #005D93;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 1.1em;
 margin-bottom: 0px;
 margin-left: 10px;
}


h3 {
 text-align: center;
 color: #005D93;
 margin: 0;
 margin-top: 3px;
 padding: 0;
 font-size: 0.9em;
 line-height: 26px;
 font-weight: normal;
}

/* ------------------------------Site Navigation ---------------------------- */
#blogtitle {
 margin: 0;
 padding: 5px;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: normal;
 font-size: 0.7em;
}


#blogtitle a{
 font-weight: bold;
}


#blogtitle a:hover{
 color: #bfbfbf;
 font-weight: bold;
 text-decoration: none;
}


/* -------------------------------- Main Body ------------------------------- */
.post {
 color: #7b7b7b;
 text-align: justify;
}


.posted {
 color: #555555;
}


.title a  {
 text-align: center;
 height: 18px;
 color: #444444;
 display: block;
 text-decoration: none;
 font-size: 1.2em;
 padding-top: 8px;
 font-weight: bold;
}


.title a:hover {
 color: #005D93;
}


.storycontent {
 border-top: 1px solid #BBBBBB;
 border-bottom: 1px solid #BBBBBB;
 padding: 0px 15px 10px;

}


.storycontent a {
 text-decoration: none;
}


.storycontent a:hover {
 text-decoration: underline;
}


.storycontent a:visited {
 color: #000000;
}


/* ----------------------------- Page Navigation ---------------------------- */
.left a{
 color: #990000;
 font-size: 0.9em;
}


.right a{
 font-size: 0.9em;
 color: #990000;
}


/* -------------------------------- Comments ------------------------------- */
.commentauthor {
 font-weight: bold;
 font-size: 1.2em;
 padding: 0 0 2px 0;
 margin: 0;
 color: #000000;
}


.commentauthor a{
 font-weight: bold;
 margin: 0;
 padding: 0 20px 0 0;
 background: url(images/icon.jpg) no-repeat top right;
}


.commentdate {
 text-align: right;
 line-height: 18px;
 padding: 0;
 margin: 0;
}


/* -------------------------------- Credits --------------------------------- */
p.credits {
 padding: 0px 0px;
 text-align: center;
 margin: 10px 0px; 
 color: #9e9e9e;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 0.8em;
}


/* for Drupal */

h2.content-title {
 text-align: center;
 height: 18px;
 color: #444444;
 display: block;
 font-size: 1.2em;
 padding-top: 8px;
 font-weight: bold;
}

div#blocks {
	width: 130px;
	position: absolute;
	left: 700px;
	top: 0px;
}

a#comment {
	background: none;
	border: none;
}

.comment {
 margin-bottom: 70px;
 color: #7b7b7b;
}

.commentdate select {
	 font-size: 1em;
}

#container {
	color: #7b7b7b;
}
.boxtop {
	background: #fff url(images/comments.gif) no-repeat top right;
	height: 42px;
	width: 510px;
}
.box {
 width: 510px;
 background-color: #F5F6F7;
}
.box .content {
	padding: 0 20px;
}

.boxbottom {
 background: #FFFFFF url(images/commentsdown.gif) no-repeat center top; 
 margin: 0;
 padding: 0;
 height: 22px;
}

/* tabs */

ul.primary {
  text-align: center;
  background-color: #F5F6F7;
  border: solid #D5D7DB;
  border-width: 1px 0;
}
ul.primary li {
  display: inline;
}
ul.primary li a {
  border: none;
  height: auto;
  padding: 0em 1em;
  text-decoration: none;
  background: none;
}
ul.primary li.active a {
  border: none;
}
ul.primary li a:hover {
  background-color: #eee;
}

/* forms */

.form-item textarea.textarea {
	width: 470px;
	padding: 0;
}
.description {
	width: 470px;
}
.form-item select {
	width: auto;
}
.box .form-item select {
	font-size: 0.8em;
}
.user-login-block .form-item input {
	width: auto;
}
input[type="text"], input[type="password"], input[type="file"], textarea, select
{
	margin: 0;
	padding: 2px;
	font-size: 12px;
	background: #E7E9ED;
	border: 1px solid #DED5C9;
	color: #666;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="file"]:hover, textarea:hover { border-color: #9C9C9D; }

input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, textarea:focus
{
	border: 1px solid #000;
	color: #666;
	background: #fff;
}