/* Drupal 4.5 port of Obsidian theme
   ported by Chrisada Sookdhis
	http://ichris.ws
*/

/*
Theme Name: Obsidian
Theme URI: http://scottdot.org
Description: Obsidian Flavored Manji 
Version: 1.01
Author: Scott
Author URI: http://www.scottdot.org/ 

Credits - for Obsidian

Obsidian originally created by Scott (www.scottdot.org), converted for wordpress.
Thanks to tw3k(http://e107themes.tw3k.net/) and Gnat (www.squaremelon.ws) for answering all my questions.
Khaled for the great theme it was based on Manji (www.brokenkode.com)



Credits - for Manji
Author: Khaled Abou Alfa
Author URI: Manji http://brokenkode.com
Manji Theme URI: http://www.brokenkode.com/Manji/
The Manji template designed by Khaled Abou Alfa (www.brokenkode.com) 
and Root (www.atthe404.com/blog); Root is currently offline. Please go read the
FAQ on www.brokenkode.com/board for further information.

Also a big shout out to David Prince (www.davidblog.ws) for his invaluable help
in finishing the project, and because it was really good talking to someone about
the whole project in general once Root was no longer around.

Also I've got to thank the wordpress forums for all the little help in solving loads
of questions we had when creating this theme.

License -
The CSS, XHTML and design is released under GPL:
http://www.opensource.org/licenses/gpl-license.php

Theme for blogging software. Initially released for Wordpress.
Copyright (C) 2004 khaled abou alfa.

This program is free software; you can redistribute it and/or modify it under the terms 
of the GNU General Public License as published by the Free Software Foundation, version 2 
of the License.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
See the GNU General Public License for more details.



*/



/* <<<<<<<<<<<<<<<<<<<<<<<<<< Structural Layout >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
body {
 background: #677 url(images/bg.gif) no-repeat 50% 0;
 margin:  0;
 padding: 0;
 text-align: center; /* IE hack Part 1 */ 
}

#container2 {
background: #CDC3AA;
margin: -9px auto;
width:700px;
border-bottom: 0px;
}

/*---------------------------- Site Navigation -------------------------------*/
#hnav {
 width: 680px;
 margin: 8px auto;
 height: 23px;
 background: #d9d7da url(images/navgradient.jpg) repeat-x top;
 border-bottom: 0px solid #51411C;
 border-left: 1px solid #CDC3AA;
 border-right: 1px solid #CDC3AA;
}


#header {
 float: left;
 width: 200px;
 margin: 0px;
 padding: 0px;
 text-align: left;
 height: 20px;
}


#hmenu {
 margin: 2px 0 0 0;
 text-transform:lowercase;
 float: right;
 text-align: right;
 width: 480px;
}


#masthead {
 background-image: url(images/masthead.jpg);
 width: 678px;
 height: 180px;
 margin: 0px auto;
 padding: 0px;
}


/*------------------------------- Main Body ----------------------------------*/
#container {
 position: relative;
 margin: 1.6em auto 0px auto;
 width: 668px;
 background: #B2AD9D;
 font-family: Arial, Verdana, Helvetica, sans-serif;
 font-size: .75em;
 text-align: left; /* IE hack Part 2 */
 border: medium double; 
 color: #ADA899;
}


#topcontent {
 width: 660px;
 background: #F7F3E7 url('images/header_whole.gif') no-repeat top;
 margin: 5px auto 0px auto;
 height: 27px;
}


#content {
 width: 660px;
 background: #F7F3E7;
 margin: 0 auto;
}


.post {
 margin-left: 60px;
 margin-right: 60px;
 padding-bottom: 80px;
 color: #4D3C1D;
 text-align: justify;
}


#bottomcontent {
 width: 660px;
 background: #F7F3E7 url('images/bottom_whole.gif') no-repeat top;
 margin: 0px auto 9px auto;
 height: 27px;
}


.meta {
 font-size: .9em;
 line-height: 18px;
}


.feedback {
 float: right;
 font-size: .9em;
 line-height: 28px;
}


.author {
 width: 200px;
 float: right;
 text-align: right;
}


/*---------------------------- Page Navigation -------------------------------*/
.postnavigation {
 height: 45px;
}

.left {
 float: left;
 margin: 0px 70px 0px 70px;
}


.left a{
 color: #990000;
 font-size: 0.9em;
}


.right {
 float: right;
 margin: 0px 70px 0px 70px;
}


.right a{
 font-size: 0.9em;
 color: #990000;
}


/* ------------------------------ Comments -----------------------------------*/

#commentlist li  p{
 padding: 0px;
 margin: 8px 0px 0px 0px;
}


.commentname {
 width: 220px;
 float: left;
 font-size: 0.9em;
 margin: 0;
 padding: 0  0 2px 0;
}


.commentinfo{
 float: right;
 text-align: right;
 font-size: 0.8em;
}


.commenttext {
 clear: both;
 padding-top: 0px;
 margin-top: 0px;
 border-top: 1px solid #e4ebef;
}

/* --------------------------- 'Sidebar' Structure -------------------------- */
#menu {
 margin: 10px auto;
 width: 680px;
 height: 45px;
 background: #CDC3AA;
 border-top: 0px solid #d1d4d9;
 border-right: 0px solid #d5d7db;
 border-bottom: 2px solid #51411C;
 border-left: 0px solid #d1d4d9;
}


#searchform {
 float: left;
 margin-top: 12px;
 padding-left: 20px;
}


#topimage {
 margin: 2px 0 0 0; 
 cursor: pointer;
 width: 60px;
 height: 40px;
 background: url('images/topbutton.gif') no-repeat top;
 float: right;
 padding-right: 9px;
 padding-top: 3px;
}


#topimage a{
 display:block;
 height:100%;
 overflow: hidden;
 text-decoration:none;
}


/* ------------------------------- Credits ---------------------------------- */
#footer {
 margin: 10px auto;
 width: 680px;
 font-size: .8em;
}


#footer p {
 margin: 10px auto;
 width: 680px;
 font-size: .8em;
}


.clearer {
 clear: both;
 line-height: 0px;
}


/*------------------------------ H Menu Styling ----------------------------- */
#top { 
 display: inline;
 list-style-type: none;
}


#hnav ul li{
 display: inline;
}


#hnav ul li a {
 color: #FFFFFF;
 text-decoration: none;
 padding: 5px 10px;
 font-size: 0.7em;
 font-family: Arial, Verdana, Helvetica, sans-serif;
 font-weight: normal;
}


#hnav ul li a:hover {
 color: #B2AD9D;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<< Typography >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* ------------------------------- General ---------------------------------- */
a {
color: #193E45;
text-decoration: none;
}

a:hover {
color: #990000;
text-decoration: underline;
}


top a {
 border: 0;
 text-decoration: none;
}


blockquote {
background: #E5DFCF;
border: double;
padding: 10px 20px;
}


code {
font-family: Arial, Verdana, Helvetica, sans-serif;
font-size: 1.0em;
}


h1 a {
margin: 0;
padding: 0;
text-decoration: none;
color: #FFFFFF;
}

h2 {
color: #193E45;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.1em;
margin-bottom: 0px;
margin-top: 40px;
margin-left: 10px;
}



h3 {
text-align: center;
color: #193E45;
margin: 0;
margin-top: 3px;
padding: 0;
font-size: 0.9em;
line-height: 26px;
font-weight: normal;
}

/* ------------------------------Site Navigation ---------------------------- */
#blogtitle {
margin: 0;
padding: 5px;
font-family: Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 0.7em;
}


#blogtitle a{
 font-weight: bold;
}


#blogtitle a:hover{
color: #ADA899;
font-weight: bold;
text-decoration: none;
}


/* -------------------------------- Main Body ------------------------------- */
.post {
 color: #7b7b7b;
 text-align: justify;
}


.posted {
color: #555555;
}


.title a  {
text-align: center;
height: 18px;
color: #444444;
display: block;
text-decoration: none;
font-size: 1.1em;
padding-top: 8px;
font-weight: bold;
}


.title a:hover {
color: #990000;
}


.storycontent {
border-top: 1px solid #331F02;
border-bottom: 1px solid #331F02;
padding: 0px 15px 10px;
}


.storycontent a {
 text-decoration: none;
}


.storycontent a:hover {
 text-decoration: underline;
}


.storycontent a:visited {
 color: #000000;
}


/* ----------------------------- Page Navigation ---------------------------- */
.left a{
 color: #990000;
 font-size: 0.9em;
}


.right a{
 font-size: 0.9em;
 color: #990000;
}


/* -------------------------------- Comments ------------------------------- */
.commentauthor {
 font-weight: bold;
 font-size: 1.2em;
 padding: 0 0 2px 0;
 margin: 0;
 color: #000000;
}


.commentauthor a{
 font-weight: bold;
 margin: 0;
 padding: 0 20px 0 0;
 background: url('images/icon.jpg') no-repeat top right;
}


.commentdate {
 text-align: right;
 line-height: 18px;
 padding: 0;
 margin: 0;
}


/* -------------------------------- Credits --------------------------------- */
p.credits {
background: #CDC3AA;
padding: 0px 0px;
text-align: center;
margin: 10px 0px; 
color: #483636;
font-family: Arial, Helvetica, sans-serif;
font-size: 0.8em;
}


/* for Drupal */

h2.content-title {
 text-align: center;
 height: 18px;
 color: #444444;
 display: block;
 font-size: 1.2em;
 padding-top: 8px;
 font-weight: bold;
}

#blocks {
	width: 130px;
	position: absolute;
	left: 700px;
	top: 0px;
}

#help, #mission, #message, table {
	margin: 0px 60px;
}

.post table {
	margin: 0;
}

a#comment {
	background: none;
	border: none;
}

.comment {
 margin: 0 80px 70px 70px;
 color: #634D25;
}

.commentdate select {
	 font-size: 1em;
}

.boxtop {
	background: #fff url(images/comments.gif) no-repeat top right;
	height: 42px;
	width: 510px;
}
.boxtop h2 {
 font-size: 1.0em;
 font-weight: bold;
 color: #193E45;
}
.box {
 width: 510px;
 background-color: #B2AD9D;
 color: #634D25;
 margin: 0 75px;
}
.box .content {
	padding: 0 20px;
}

.boxbottom {
 background: #FFFFFF url(images/commentsdown.gif) no-repeat center top; 
 margin: 0;
 padding: 0;
 height: 22px;
}

/* tabs */

ul.primary {
  text-align: center;
  background-color: #E5DFCF;
  border: double #7B7B7B;
  border-width: 3px 0;
  margin: 0px 60px;
}
ul.primary li {
  display: inline;
}
ul.primary li a {
  border: none;
  height: auto;
  padding: 0em 1em;
  text-decoration: none;
  background: none;
}
ul.primary li.active a {
  border: none;
  background-color: #B2AD9D;
}
ul.primary li a:hover {
  background-color: #F7F3E7;
}

/* forms */

.form-item textarea.textarea {
	width: 470px;
	padding: 0;
}
.description {
	width: 470px;
}
.form-item select {
	width: auto;
}
.box .form-item select {
	font-size: 0.8em;
}
.user-login-block .form-item input {
	width: auto;
}
input[type="text"], input[type="password"], input[type="file"], textarea, select
{
	margin: 0;
	padding: 1px 2px 1px 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	background: #F7F3E7;
	border: 1px solid #d5d7db;
	color: #634D25;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="file"]:hover, textarea:hover { border: 1px solid #634D25; }

input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, textarea:focus
{
background: #FFFFFF;
border: 1px solid #000000;
color: #634D25;
padding: 1px 2px 1px 1px;
}